language: php
dist: bionic

notifications:
  email:
    on_success: never
    on_failure: change

git:
    depth: 1

services:
  - mysql

php:
  - 7.2
  - 7.3
  - 7.4
  - 8.0

env:
  global:
    - WP_VERSION=latest

matrix:
  include:
    - php: 8.0
      env: WP_MULTISITE=1 CUSTOM_CONSTANTS=0
    - php: 8.0
      env: WP_MULTISITE=1 CUSTOM_CONSTANTS=1
    - dist: focal
      php: 8.1
    - dist: focal
      php: 8.2

before_install:
  - '[[ "$TRAVIS_PHP_VERSION" != "7.2" ]] || export PHPUNIT_UPGRADE=1'

install:
    # flags to pass to install
  - flags="--ansi --prefer-dist --no-interaction --optimize-autoloader --no-progress"

  # Upgrade phpunit for php 7.3 and higher
  - if [ -z "$PHPUNIT_UPGRADE" ]; then rm composer.lock; fi
  - if [ -z "$PHPUNIT_UPGRADE" ]; then composer config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true; fi
  - if [ -z "$PHPUNIT_UPGRADE" ]; then composer require --no-interaction --dev phpunit/phpunit:9.3; fi

  # install dependencies using system provided composer binary
  - composer install $flags

before_script:
  # install wp tests infra
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  # print what's installed and where by default
  # - which phpunit && phpunit --version

script: ./vendor/bin/phpunit
