<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">classes</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Tests">
      <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
